@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Quicksand", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;

}

html {
  scroll-behavior: smooth;
}

// Global variables
:root {
  --hover-color: #01567f;
  --footer-color: #01344c;
  --text-white: #fff;
  --hight-light-color: #fcaf17;
  --border-color: #4e7182;
}