.product-thumbnail {

  position: relative;
  overflow: hidden;
}

.product-overlay {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.product-thumbnail:hover .product-overlay {
  opacity: 0.7;
}

.image-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 130%;
}

.image-thumbnail img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease-in-out all;
  will-change: opacity;
}

.lazyload {
  background: #ebebeb;
}

.loaded {
  background: transparent;
}

.sale {
  width: 43px;
  height: 23px;
  line-height: 23px;
  box-sizing: content-box;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #e8002d;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  font-style: italic;
}

.product-index-num {
  width: auto;
  height: 33px;
  line-height: 33px;
  box-sizing: content-box;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #01567f;
  text-align: center;
  text-transform: none;
}

.cri_index {
  border: 3px solid #01567f;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  left: -3px;
  top: -3px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  position: absolute;
}

.number_index {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #01567f;
  border-radius: 50%;
  display: inline-block;
}

.product-action {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 0;
  background: rgba(157, 190, 206, 0.85);
}

.product-overlay-action {
  content: "";
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.product-thumbnail:hover .product-action {
  opacity: 1;
}

.group-action {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.group-action .icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.group-action .icon:hover {
  background-color: #fff;
}

.product-info {
  margin: 5px 0 5px;
  position: relative;
}

.product-info .product-name {
  padding: 0;
  text-overflow: ellipsis;
  color: #333e44;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 3px;
  padding-bottom: 3px;
  line-height: 22px;
  text-transform: capitalize;
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
}

.product-info .product-name:hover {
  color: #01567f;
}

.price-box {
  color: #e8002d;
  line-height: 23px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  min-height: 25px;
}

.price {
  padding-right: 5px;
  font-weight: 700;
}

.compare-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #9e9e9e;
  line-height: 24px;
  font-weight: 500;
}

.productcount {
  width: 120px;
  margin-top: 0px;
  min-height: 20px;
  display: inline-block;
  float: right;
}

.countitem {
  width: 100%;
  height: 16px;
  border-radius: 7px;
  position: relative;
  background: #01567f;
  z-index: 1;
  margin-top: 5px;
}

.productcount .visible {
  background: #8db5dd;
}

.countitem span {
  font-size: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  color: #fff;
  line-height: 14px;
  left: 50%;
  font-weight: 400;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -os-transform: translateX(-50%);
}

.a-center {
  text-align: center !important;
}

.countdown {
  position: absolute;
  height: 16px;
  border-radius: 7px;
  background: #01567f;
  z-index: 2;
  left: 0;
  top: 0;
  width: 84%;
}

.countdown span {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  left: 100%;
  top: -10px;
}

.productcount-sale {
  margin-top: 0px;
  min-height: 20px;
  width: 100%;
  position: relative;
  display: block;
  padding-bottom: 5px;
}

.productcount-sale .visible {
  background: #ffd0a9;
}

.no-underline {
  text-decoration: none;
  font-weight: inherit;
  color: #333e44;
}

.productcount-sale .countdown {
  position: absolute;
  height: 16px;
  border-radius: 7px;
  background-image: linear-gradient(to right, #ad000c, #fcaf17);
  z-index: 2;
  left: 0;
  top: 0;
}

.sale-bar {
  background: url("../../assets/image/fire.png") 0 no-repeat;
  width: 18px;
  height: 21px;
  background-size: contain;
  position: absolute;
  left: 3px;
  top: -6px;
  z-index: 6;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}



