.wrapper {
  width: 100%;
  height: 54px;
  background-color: whitesmoke;
  padding-left: 165px;
}

.breadcrumb {
  display: flex;
  // padding-top: 20px;
}

.text3 {
  padding-right: 20px;
  font-size: 15px;
}

.text1 {
  padding-top: 20px;
  display: flex;
}

.text2 {
  color: var(--hight-light-color);
  padding-left: 20px;
  font-size: 15px;
  padding-top: 19px;
  font-weight: 300;
}

.main {
  padding-top: 40px;
  display: flex;
  padding-left: 165px;
}

.title1 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 15px;
}

.greeting-user {
  display: flex;
  padding-bottom: 30px;
}

.greeting {
  font-size: 16px;
  font-weight: 900;
  padding-right: 6px;
}

.user-name {
  font-size: 16px;
  color: var(--hover-color);
  font-weight: 900;
}

.user-info {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.your-order {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.address {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.change-pass {
  font-size: 15px;
  padding-bottom: 20px;
  color: var(--hight-light-color);

  &:hover {
    cursor: pointer;
  }
}

.content {
  padding-left: 150px;
}

.title2 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}

.content-text {
  padding-top: 20px;
  padding-bottom: 5px;
}

.content-input input {
  margin-bottom: 10px;
  padding: 12px 0 12px 12px;
  text-align: left;
  width: 420px;
  font-size: 15px;
  color: black;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}

.change-pass-button {
  padding-top: 20px;
  padding-bottom: 70px;
}

.change-pass-button button {
  padding: 17px;
  color: #fff;
  background-color: var(--hover-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 7px;

  &:hover {
    background-color: #fff;
    color: var(--hover-color);
    border: var(--hover-color) solid 1px;
    cursor: pointer;
  }
}
