.container{
  display: flex;
}
.header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  margin-right: 50px;
}
.header__img {
  width: 150px;
  height: 60px;
}
.header__navbar {
  width: 100%;
}
.header__top {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.header__hotline,
.header__location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__listlocation a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  &:hover {
    color: aqua;
  }
}
.header__icon {
  font-size: 20px;
  text-align: center;
}
.header__action-icon {
  margin-top: 5px;
  text-align: center;
}
.header__phone {
}
.header__phone span,
.header__phone a,
.header__location a {
  font-size: 15px;
  font-weight: bold;
}
.header__phone a {
  color: #e8002d; 
  font-weight: bold;
}
.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 8px;
}
.header_searchbox {
  background-color: #f3f3f3;
  font-size: 15px;

  min-width: 350px;
}
.btn-search {
  &:hover {
    cursor: pointer;
  }
}

.header__bot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.header__bot-item a{
  color: #333;
  font-weight: 600;
}
.header__action {
  display: flex;
  align-items: center;
  width: 280px;
}
.header__action-item {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.action-title {
  text-align: center;
}
.box-icon {
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.space-right {
  margin-right: 20px;
}
.cart-count {
  padding: 1px;
  width: 16px;
  height: 16px;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 12px;
  position: absolute;
  line-height: 14px;
  border-radius: 50%;
  top: 0px;
  right: 9px;
  text-align: center;
}

.text {
  color: red;
  animation: promotionColor 2s infinite;
  padding: 4px;
}

@keyframes promotionColor {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
}