.container {
  display: flex;
}

.header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  margin-right: 50px;
}

.header__img {
  width: 150px;
  height: 60px;
}

.header__navbar {
  width: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.header__hotline,
.header__location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__listlocation a {
  font-size: 18px;
  font-weight: 700;
  color: #000;

  &:hover {
    color: aqua;
  }
}

.header__icon {
  font-size: 20px;
  text-align: center;
}

.header__action-icon {
  margin-top: 5px;
  text-align: center;
}

.header__phone {}

.header__phone span,
.header__phone a,
.header__location a {
  font-size: 15px;
  font-weight: bold;
}

.header__phone a {
  color: #e8002d;
  font-weight: bold;
}

.header__search {
  background-color: #f3f3f3;
  border-radius: 6px;
  position: relative;
}

.header_searchbox {
  background-color: #f3f3f3;
  font-size: 15px;

  min-width: 350px;
}

.search-group {
  position: absolute;
  top: 100%;
  padding: 10px;
  z-index: 999;
}

.btn-search {
  &:hover {
    cursor: pointer;
  }
}

.header__bot {
  list-style: none;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 5px;
}

.header__bot-item a {
  color: #333;
  font-weight: 600;
}

.header__action {
  display: flex;
  align-items: center;
  width: 280px;
}

.header__action-item {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-title {
  text-align: center;
}

.box-icon {
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.space-right {
  margin-right: 20px;
}

.cart-count {
  padding: 1px;
  width: 16px;
  height: 16px;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 12px;
  position: absolute;
  line-height: 14px;
  border-radius: 50%;
  top: 0px;
  right: 9px;
  text-align: center;
}

.text {
  color: red;
  animation: promotionColor 2s infinite;
  padding: 4px;
}

.nav-link {
  color: #333;
  font-size: 13px;
  padding: 7px 10px;
  text-align: center;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link::after {
  content: "";
  width: 0px;
  height: 35px;
  border-style: solid;
  border-width: 0px 11px 12px;
  border-color: transparent transparent #FFF;
  display: inline-block;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0px;
  margin: auto;
  opacity: 0;
  transition: opacity 300ms linear 0s;
}

.header__bot-item>.nav-link {
  padding: 0 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  display: block;
}

.header__bot-item>.nav-link:hover {
  color: var(--hover-color);
}

.icon-down {
  width: 10px;
  margin-left: 5px;
  transform: rotate(0deg);
  transition: all .4s;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 5px;
}

.header__bot-item {
  display: inline-block;
  position: relative;
  float: left;
  flex: auto;
  line-height: 40px;
}

.header__bot-item.has-mega {
  position: static !important;
}

.header__bot-item:hover>.nav-link .icon-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header__bot-item::after {
  display: block;
  content: '';
  border-bottom: 2px solid #01567f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  width: 100%
}

.header__bot-item:hover:after {
  transform: scaleX(1);
}

.header__bot-item:focus {
  background-color: transparent;
}

.header__bot-item .mega-content {
  background: #fff none repeat scroll 0 0;
  display: none;
  margin: 0;
  padding: 10px 15px 10px 10px;
  position: absolute;
  top: 9.5%;
  left: 15%;
  z-index: 999;
  width: 68%;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
}

.has-mega:hover .mega-content {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -moz-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  transition: .3s ease-in;
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.flex-25 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-50 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.banner-effect {
  position: relative;
  overflow: hidden;
  display: block;
}

.mega-banner a {
  display: block;
  padding-bottom: 150%;
  overflow: hidden;
  position: relative;
}

.banner-effect:before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.banner-effect:hover:before {
  -webkit-animation: shine 1.1s;
  animation: shine 1.1s;
}

.mega-banner a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lazyload.loaded {
  background: transparent;
}

.lazyload {
  background: #ebebeb;
}

.flex-75 {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%;
}

.mega-content .mega-menu-list .level0 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mega-menu-list .level0:not(.no-banner) {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.level1.item {
  float: left;
  width: 33.3333333%;
  padding: 10px;
}

.level0.half-banner .level1.item {
  width: 25%;
}

.level1.item>a {
  color: #000 !important;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  line-height: normal;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 5px;
}

.hmega ul {
  list-style: none outside;
  margin-bottom: 0px;
  padding-left: 0px;
}

.level1.item ul.level1 {
  margin-bottom: 0px;
}

.level1.item ul.level1 li.level2 {
  line-height: normal;
  margin-bottom: 5px;
}

.level1.item ul.level1 li.level2 a {
  font-weight: normal !important;
  text-transform: none !important;
  color: #666;
}

@keyframes promotionColor {
  0% {
    color: red;
  }

  25% {
    color: orange;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}


@media screen and (max-width: 992px) {
  .header__bot-item>.nav-link {
    color: #333;
    font-size: 13px;
    padding: 7px 10px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
  }

  .icon-down {
    display: none;
  }
}