.content {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 52vh;
}
.wrapper {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.main {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 16px;
  font-weight: 800;
  color: #01567f;
}
.add-address button {
  background-color: var(--hight-light-color);
  padding: 17px 30px;
  color: white;
  border-radius: 7px;
  font-weight: 700;

  &:hover {
    opacity: 0.6;
  }
}
