.wrapper {
  width: 100%;
  height: 54px;
  background-color: whitesmoke;
  padding-left: 165px;
}

.breadcrumb {
  display: flex;
  // padding-top: 20px;
}

.text3 {
  padding-right: 20px;
  font-size: 15px;
}

.text1 {
  padding-top: 20px;
  display: flex;
}

.text2 {
  color: var(--hight-light-color);
  padding-left: 20px;
  font-size: 15px;
  padding-top: 19px;
  font-weight: 300;
}

.main {
  padding-top: 40px;
  display: flex;
  padding-left: 165px;
}

.title1 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 15px;
}

.greeting-user {
  display: flex;
  padding-bottom: 30px;
}

.greeting {
  font-size: 16px;
  font-weight: 900;
  padding-right: 6px;
}

.user-name {
  font-size: 16px;
  color: var(--hover-color);
  font-weight: 900;
}

.user-info {
  font-size: 15px;
  color: var(--hight-light-color);
  padding-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.your-order {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.address {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.change-pass {
  font-size: 15px;
  padding-bottom: 20px;

  &:hover {
    color: var(--hight-light-color);
    cursor: pointer;
  }
}

.content {
  padding-left: 150px;
}

.title2 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}

.account-info {
  padding-bottom: 17px;
}
